* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f6f8;
    color: #333;
}

/* Header */
.header {
    background-color: #2b5dad;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}



/* Contact Section */
.contact-container {
    display: flex;
    gap: 30px;
    padding: 50px 10%;
    flex-wrap: wrap;
}

/* Info Box */
.contact-info {
    flex: 1;
    min-width: 280px;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.contact-info h2,
.contact-info h3 {
    margin-bottom: 15px;
    color: #2b5dad;
}

.contact-info p {
    margin-bottom: 10px;
}

/* Form Box */
.contact-form {
    flex: 1;
    min-width: 280px;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.contact-form h2 {
    margin-bottom: 20px;
    color: #2b5dad;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}

.contact-form textarea {
    resize: none;
    height: 120px;
}

 button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: #2b5dad;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

 button:hover {
    background-color: #1f4690;
}

 button {
    width: 90%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: #2b5dad;
    color: white;
    font-size: 16px;
    cursor: pointer;
    
}

 button:hover {
    background-color: #1f4690;
}

/* Footer */
.footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
    margin-top: 40px;
}
